extends layout

block head2
    title #{wiki.title} - Wiki
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css")
    link(rel="stylesheet" href='/css/wiki/wiki_view.css')

block content
    .ui
        h1
            a(href="/wiki/view/"+wiki.title)= wiki.title
            - var editType = wiki.rev_id ? " (R"+wiki.rev_id+" 수정)" : " (새 문서 만들기)";
            small !{editType}
        form.ui.form#edit_form(method="POST" action="/wiki/edit/"+encodeURI(wiki.title) onsubmit="return check_edit_form();")
            input(type="hidden" name="minor")
            .ui.top.attached.tabular.menu
                a.item.active(data-tab="edit") 편집
                a.item(data-tab="preview") 미리보기
            .ui.bottom.attached.tab.segment.active(data-tab="edit")
                - if(!wiki.readOnly){
                textarea.ui.textarea(rows=25 name="text") !{wiki.text}
                - } else{
                textarea.ui.textarea(rows=25 name="text" readonly='') !{wiki.text}
                - }
            .ui.bottom.attached.tab.segment(data-tab="preview")
                .preview
            - if(!wiki.readOnly){
            .fields
                .ui.field.small.input.ten.wide
                    input(type="text" name="comment" placeholder="Comment...")
                .ui.checkbox.field.two.wide
                    input#btn_minor_edit(type="checkbox")
                    label(for='btn_minor_edit') minor
                button.right.ui.primary.button(type='submit') 제출
            - }

    script.
        function check_edit_form(){
            $('#edit_form input[name="minor"]').val(($('#btn_minor_edit').parent().checkbox('is checked') ? 1 : 0));
            return true;
        }
        $(function(){
            $('.tabular.menu .item').tab({
                cache: false
            });
            $('.tabular.menu a.item[data-tab="preview"]').click(function () {
                $('.ui.dimmer').dimmer('show');
                $.post({
                    url: '/wiki/api/parse',
                    data: {text: $('.tab textarea').val()},
                    success: function (res) {
                        $('.preview').html(res);
                        $('pre code').each((i, elem) => {Prism.highlightElement(elem)});
                    }
                })
            });
        });